.nav-link {
    display: flex;
    flex-direction: row;

    color: var(--grey-800, #3C4043);

    color: var(--m-3-sys-light-on-surface, #1D1B20);

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.1px;
}

.nav-link span {
    padding-right: 10px;
}

.nav-wrapper {
    position: absolute;
    width: 256px;
    top: 67px;
    margin: 20px;
}

.add-sample-button {
    border-radius: 30px;
    box-shadow: 2px 2px 5px;
    margin-bottom: 20px;

    display: flex;
    width: 150px;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 16px;
    background: var(--m-3-sys-light-surface-container-high, #ECE6F0);

    /* M3/Elevation Light/3 */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.admin-options {
    border-top: 1px solid lightgray;
    /* border-bottom: 1px solid lightgray; */
    max-width: 200px;
}

.action-buttons-wrapper {
    display: flex;
    justify-content: space-between;
}


.qr-title {
    color: var(--grey-800, #3C4043);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;

}

.qr-subtitle {
    color: var(--grey-800, #3C4043);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;

}

.sample-info {
    color: #5F6368;

}

.sample-info-table {
    width: 376px;
}

.result-input-wrapper {
    display: flex;
}

.profile-photo {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 32px;
    height: 32px;
}

.page-title {
    color: var(--grey-700, #5F6368);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.18px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.letter-profile {
    border-radius: 50%;
    background-color: #1A73E8;
    color: white;
    padding-top: 4px;
    text-align: center;
}

.profile-menu {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    position: absolute;
    right: 45px;
    top: 34px;
    border-radius: 10px;
    background-color: lightblue;
    padding: 5px;
}

.profile-menu > div:hover {
    opacity: .7;
}

.language-label {
    padding-right: 13px;
    /* margin-top: 13px; */

}

.core-page-wrapper {
    top:100px;
    left: 350px;
}

.next-button {
    margin: 0;
    margin-left: 10px;
}

.language-selector {
    display: flex;
    align-items: center;
}

.export-button {
    margin: 10px;
}

.add-sample-options {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.add-sample-options-wrapper {
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 10px;
    background: var(--m-3-sys-light-surface-container-high, #ECE6F0);

    color: var(--grey-800, #3C4043);

    color: var(--m-3-sys-light-on-surface, #1D1B20);

    /* M3/label/large */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.1px;
    width: 80%;
    color: black;
    height: 60px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
    top: 50px;
    position: absolute;
}

.add-sample-option {
    color: black;
    text-decoration: none;
    margin: 15px;
}

.nav-item {
    cursor: pointer;
}

.add-sample-page-wrapper {
    max-width: 1000px;
}

.print-button {
    margin: 20px;
}

.result-instructions {
    margin-bottom: 20px;
}