.title {
  font-family: Google Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.sample-details-wrapper {
  font-family: Roboto;
  position: absolute;
  left: 304px;
  top:100px;
}

.sample-details-wrapper a {
  color: #006E2C;
}

.print-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  border: none;
  background-color: transparent;
}

.column {
  float: left;
  width: 25%;
}

.value-title {
  color: grey !important;
}

.collapse {
  visibility: visible !important;
}

.accordion {
  width: 60vw;
  max-width: 800px;
}

.process-number {
  margin-right: 5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 5px;
  color: #000;
  text-align: center;
}

.completed {
  background: #57d475;
}

.incomplete {
  background: blue;
  color: white;
}

.sample-details {
  border-radius: 8px;
  border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
  width: 125%;
  height: 250px;
  margin-top: 30px;
  padding: 10px;
  display: inline-table;
  justify-content: space-between;

}

.details {
  display: flex;
  width: 1096px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
  margin-bottom: 40px;
}

.detail {
  display: flex;
  width: 332.318px;
  align-items: flex-start;
  gap: 16px;
}

.detail-name {
  color: #5F6368;

  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 160px;
}

.detail-value {
  color: #202124;

  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 200px;
}

.detail-row {
  display: flex;
}

.section-title {
  color: #000;

  /* M3/title/medium */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.15px;
}

.legend {
  display: inline-block;
  height: 20px;
  width: 33px;
  margin-right: 2px;
  /* border: 1px solid black; */
  vertical-align: middle;
}

.legend.anthropic            { background-color: #fffbc2; }
.legend.primary-vegetation   { background-color: #09611f; }
.legend.secondary-vegetation { background-color: #4ea376; }

.alerts-source-footer {
  font-size: 12px;
  color: #727970;
}

.land-use-source-footer {
  font-size: 12px;
}

/* Integration Point #4. Add any required styles for your section to the css. */

.sample-details {
  border-radius: 8px;
  border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
  width: 125%;
  height: 250px;
  margin-top: 30px;
  padding: 10px;
  display: inline-table;
  justify-content: space-between;

}

.details {
  display: flex;
  width: 1096px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
  margin-bottom: 40px;
}

.detail {
  display: flex;
  width: 332.318px;
  align-items: flex-start;
  gap: 16px;
}

.detail-name {
  color: #5F6368;

  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 160px;
}

.detail-value {
  color: #202124;

  /* M3/body/large */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
  width: 200px;
}

.detail-row {
  display: flex;
}

.iframe-wrapper {
  width: 100%;
  border-radius: 15px;
  transform: translateY(0px);
  display: block;
  overflow: hidden;
  height: 300px;
}

.samples-origin-pct {
  font-weight: 500;
  margin-bottom: 1rem;
}

.likelihood-details {
  max-width: 816px;
  margin-top: 1rem;
}

.methodology {
  font-size: 14px;
  max-width: 816px;
}

.methodology-title {
  font-weight: 500;
}

.header-validity {
  margin-top: 40px;
  margin-bottom: 50px;
}

.water-land-use-details {
  margin-bottom: 1rem;
  width: 100%;
}

.water-land-use-details .table-title-land-use {
  margin-bottom: 1rem;
}

.table {
  font-size: 14px;
}

.table-title-land-use.table-title-land-use {
  padding-left: 46px;
  width: 100%;
}

.table thead th, .table-title-land-use {
  background-color: #F8FAFA;
  color: #424940;
  font-weight: 400;
  padding: 1rem 0.5rem;
  font-size: 14px;
}

.table-alerts tbody th, .table-alerts tbody td {
  vertical-align: bottom;
}

/* ValidityTag */
/* =========== */

.validity-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.details .validity-title {
  font-size: 22px;
}

.validity-tag {
  padding: 5px;
  background-color: #e9e9e9;
  color: #575757;
  border-radius: 5px;
  margin-right: 0.5em;
}

.validity-tag.possible {
  background-color: #D4E8D1;
  color: #516351;
}

.validity-tag.not-likely {
  background-color: #e6b0b0;
  color: #3f3d3d;
}

.validity-location-subtitle {
  font-size: 20px;
}

.details .validity-location-subtitle {
  font-size: 14px;
}

.validity-location-subtitle {
  margin-bottom: 1rem;
}

.validity-location-subtitle span {
  vertical-align: middle;
}

.validity-location-subtitle .material-symbols-outlined {
  margin-right: 5px;
}

/* Page Legend */
/* =========== */

.details.page-legend {
  border: none;
}

.details .page-legend-content {
  font-size: 14px;
}

/* Override when printing to hide the sidebar and top bar */
@media print {
  .details {
    width: 1024px;
  }

  .top-bar-wrapper, .print-button {
    display: none;
  }

  .sample-details-wrapper {
    left: 0;
    top: 0;
    position: relative;
    background-color: white;
  }
}