.title {
  font-family: Google Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.sample-details-wrapper {
  position: absolute;
  left: 304px;
  top:100px;
}

.column {
  float: left;
  width: 25%;
}

.value-title {
  color: grey !important;
}

.collapse {
  visibility: visible !important;
}

.accordion {
  width: 60vw;
  max-width: 800px;
}

.process-number {
  margin-right: 5px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 5px;
  color: #000;
  text-align: center;
}

.completed {
  background: #57d475;
}

.incomplete {
  background: blue;
  color: white;
}

.sample-details {
  border-radius: 8px;
  border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
  width: 125%;
  height: 250px;
  margin-top: 30px;
  padding: 10px;
  display: inline-table;
  justify-content: space-between;

}

.details {
  display: flex;
width: 1096px;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--m-3-ref-neutral-neutral-80, #CAC5CD);
margin-bottom: 40px;
}

.detail {
  display: flex;
width: 332.318px;
align-items: flex-start;
gap: 16px;
}

.detail-name {
  color: #5F6368;

/* M3/body/large */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
width: 160px;
}

.detail-value {
  color: #202124;

/* M3/body/large */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
width: 200px;
}

.detail-row {
  display: flex;
}

.section-title {
  color: #000;

/* M3/title/medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.15px;
}